/* the padding for desktop */
main{
    padding: 110px;
}

/* the width of the all checkout information */
.check-main{
    width: 897px;
}
/*seperate the paypal from checkout information*/
.or-divider{
    /*draw a bottom line*/
    border-bottom: 1px solid gainsboro;
    margin-bottom: 30px;
}
.or-divider>div{
    /*size of the background the "or"*/
    width: 120px;
    /*use background colour of the "or" to cover the bottom line*/
    background-color: white;
    /* position of the "or" */
    bottom: -25px;
    /* the size of the box*/
    height: 50px;
}

/*setting for the information collection box*/
.ck-input{
    background-color: transparent;
    border: solid 1px gainsboro;
    font-size: 16px;
    width: 100%;
    color: #212121;
    padding: 5px 0;
    height: 25px;
}
/*the margin and size of the boxes for radios and checkboxes*/
.ck-check input,
.ck-ckbox input{
    margin: 0 20px 0 0;
    height: 20px;
    width: 20px
}
/*setting for the country selection*/
.ck-select{
    background-color: transparent;
    border: solid 1px gainsboro;
    font-size: 16px;
    width: 100%;
    color: black;
    padding: 5px 0;
    height: 40px;
}
/*setting for the margins for financial facilities*/
.other-pays img{
    margin: 40px 30px 0 0;
}
/*setting for the checkout button*/
.pay-btn .btn-f{
    margin: 80px;
    width: 210px;
}
/*set the gap between the prices and its name*/
.price-divider{
    width: 100px;
}

/*setting for mobile version*/
@media screen and (max-width: 640px) {
    main{
        padding: 22px;
    }
    /*setting for the information collection box in mobile version*/
    .ck-input{
        height: 25px;
    }
    /*the font size of the country selection and text input*/
    .ck-select ,.ck-input{
        font-size: 16px;
    }
    /* the size of the paypal logo*/
    .ck-head-img{
        width: 280px;
    }
    /*setting for the summary*/
    .cart-basket{
        /*move with screen*/
        position: fixed;
        /*distance to bottom of the screen */
        bottom: 20px;
        width: 100%;
    }
    /*use the summary to cover the checkout*/
    #basket.check-basket.show {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        background: white;
        align-items: center;
        height: 100%;
    }
}
